@model ErrorViewModel
@{
    ViewData["Title"] = "An error has occurred";
}

<h1 class="text-danger">Error!</h1>
<br />
<h2 class="text-danger">An unexpected error has occurred.</h2>
<br />

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <br />
    </p>
}
<br />
<p>
    <strong>Error message:</strong> <code>@Model.Message</code>
</p>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Back to contact list</a>
